<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dockuiApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <h1>SW Update POC</h1>
      <div class="column">
        <div ng-controller="MainCtrl" ng-model="isTeamCityBusy">
          <img src="images/TC_135x48.png" alt="TeamCity" height="48" width="135">
          <span ng-if="isTeamCityBusy">
            <img src="images/ajax-loader.gif" alt="Loading" height="42" width="42">
          </span>
            <table st-table="rowCollection" class="table table-striped">
              <thead>
                <tr>
                  <th>Builds</th>
                  <th>Created</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in builds">
                  <td>{{row.RepoTags}}</td>
                  <td>{{row.Created * 1000 |  date:'yyyy-MM-dd HH:mm' }}  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>

      <br/><br/>

      <div class="column">
       <div ng-controller="MainCtrl" ng-model="isTeradataBusy">
         <img src="images/Teradata-Icon.jpg" alt="Teradata" height="48" width="135">
         <span ng-if="isTeradataBusy">
           <img src="images/ajax-loader.gif" alt="Loading" height="42" width="42">
         </span>
         <table st-table="rowCollection" class="table table-striped">
         	<thead>
           	<tr>
               <th>Images  ({{teradataHostIP}})</th>
           		<th>Created</th>
           	</tr>
         	</thead>
         	<tbody>
           	<tr ng-repeat="row in teradataImages">
               <td>{{row.RepoTags}}</td>
           		<td>{{row.Created * 1000 |  date:'yyyy-MM-dd HH:mm' }}  </td>
           	</tr>
         	</tbody>
         </table>
       </div>
     </div>

     <br/><br/>

     <div class="column">
       <div ng-controller="MainCtrl" ng-model="isCustomerBusy">
         <img src="images/customer.jpg" alt="Customer" height="48" width="135">
         <span ng-if="isCustomerBusy">
           <img src="images/ajax-loader.gif" alt="Loading" height="42" width="42">
         </span>
         <table st-table="rowCollection" class="table table-striped">
           <thead>
             <tr>
               <th>Images ({{customerHostIP}})</th>
               <th>Created</th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="row in customerImages">
               <td>{{row.RepoTags}}</td>
               <td>{{row.Created * 1000 |  date:'yyyy-MM-dd HH:mm' }}  </td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/imagelistservice.js"></script>
        <!-- endbuild -->
</body>
</html>
